<div class="container">
    <!-- <h1 class="title">
        BUSCANDO GERAR MEMÓRIAS IDÔNEAS
    </h1> -->
    <div class="social-media-grid">
        <a href="https://www.instagram.com/memoriasidoneas/">
            <img class="social-media-icons" src="../../assets/instagram.png" />
        </a>
        <!-- <a href="">
            <img class="social-media-icons" src="../../assets/facebook.png" />
        </a> -->
        <a href="https://open.spotify.com/artist/1BKAeQwdV1sRM8BvJbGeJE">
            <img class="social-media-icons" src="../../assets/spotify.png" />
        </a>
        <a href="https://www.youtube.com/@memoriasidoneas">
            <img class="social-media-icons" src="../../assets/youtube.png" />
        </a>
    </div>
</div>