.title {
    color: silver;
    text-align: center;
    font-family: "Libre Baskerville", Times, serif;
    font-weight: bold;
    font-size: xx-large;
    padding: 40px;
    padding-top: 200px;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container {
    padding-bottom: 150px;
    position: fixed;
    width: 100%;
    height: 100%;
}

.social-media-icons{
    height: 30px;
    padding: 10px;
    filter: invert(80%);
}

.social-media-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    grid-template-columns: 200px 200px 200px 200px 200px;
    margin:auto;
}